.header {
  width: 100%;
  height: 210px;
  background-color: red; }

.wrap_header {
  margin: 0 auto;
  width: 970px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around; }
  ul li {
    list-style-type: none; }
    ul li .main_a {
      font-size: 40px; }
    ul li a {
      text-decoration: none;
      color: white; }
